<h2>Conflito</h2>

<p>Nome:  <%= @conflict.name %> </p>
<p>Reclamante: <%= @conflict.user.email  %></p>
<p>Mediador: <%= @conflict.mediator.name %></p>

<% if current_user.mediator != nil %>
  <%= link_to "Pegar Conflito", catch_conflict_path, class: "btn btn-primary" %>
    <%= link_to "Deixar Conflito", leave_conflict_path, class: "btn btn-danger" %>
<% end %>

