<h2>Conflito</h2>

<%= link_to "Voltar", root_path, class: "btn btn-primary" %>

<p>****************************************************</p>

<% if current_user.mediator != nil %>
  <%= link_to "Pegar Conflito", catch_conflict_path, class: "btn btn-primary" %>
    <% if @conflict.mediator_id == current_user.mediator.id %>
      <%= link_to "Deixar Conflito", leave_conflict_path, class: "btn btn-danger" %>
    <% end %>
  <%= link_to "Voltar", conflicts_path, class: "btn btn-primary" %>
<% end %>

<p>****************************************************</p>

<h4>Reclamante</h4>

<p>Reclamante: <%= @conflict.user.email  %></p>

<p>****************************************************</p>

<h4>Conflito</h4>

<p>Nome: <%= @conflict.name %> </p>
<p>Status: <%= @conflict.status %></p>

<p>****************************************************</p>

<% if @conflict.mediator != nil %>

  <h4>Mediador</h4>

  <p>Mediador: <%= @conflict.mediator.name %></p>

  <p>****************************************************</p>

<% end %>



